<template>
  <div class="about">
    <div class="container">
      <div class="section">
        <div class="content"><h1>Powered by</h1></div>
        <div class="content">
          <ul>
            <li><a href="https://github.com/davemachado/public-api">Public API for Public APIs</a> by davemachado</li>
            <li><a href="https://vuejs.org/">Vue</a> by Evan You</li>
            <li><a href="https://buefy.org/">Buefy</a></li>
            <li><a href="https://bulma.io/">Bulma</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
