<template>
  <div id="app">
    <b-navbar id="nav">
      <template slot="brand">
        <b-navbar-item >
          <strong>Public API Mashup</strong>
        </b-navbar-item>
      </template>
      <template slot="start">
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
          Home
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/about' }">
          About
        </b-navbar-item>
      </template>
    </b-navbar>
    <main>
      <router-view />
    </main>
  </div>
</template>
